{% extends 'EsgiBlogBundle::layout.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="flash notice">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {{form(form)}}

{% endblock %}
