{% extends 'base.html.twig' %}



{% block title %}Articles{% endblock %}


{% block head %}
    <link rel="stylesheet" href="{{ asset('bundles/esgiblogbundle/css/foundation.css') }}" />
{% endblock %}


{% block body %}

    {{ parent() }} dzds

    {% for post in publishedPosts %}

        <div>
            <h1>{{ post.title }}</h1>
            <p>{{ post.body }}</p>

        </div>

    {% endfor %}

{% endblock %}
