{% extends 'EsgiBlogBundle::layout.html.twig' %}

{% block title 'Demo Bundle' %}

{% block body %}
    <div class="page-header">
        <h1>
            Proposer un article
        </h1>
    </div>

{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="flash notice">
        {{ flashMessage }}
    </div>
{% endfor %}

{% form_theme form 'EsgiBlogBundle:Form:post.html.twig' %}

<form class="horizontal-form">
    <div class="form-group">
        {{ form_row(form.title) }}
    </div>

    <div class="form-group">
        {{ form_row(form.body) }}
    </div>

    {{ form_widget(form.save) }}
</form>

{% endblock %}
