{% extends 'EsgiBlogBundle::layout.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}

    {{ parent() }} feief

    {% for post in publishedPosts %}

        <div>
            <h1>
                <a href="/article/{{ post.slug }}">
                    {{ post.title }}
                </a>
            </h1>
            <p>{{ post.body[:2]|striptags ~ ' ...' }}</p>
        </div>

    {% endfor %}

{% endblock %}
