{% extends 'EsgiBlogBundle::layout.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}

{% for post in publishedPost %}
    <div>
        <h1>
            {{ post.title }}
        </h1>
        <h2>
            {{ post.created|date("d/m/Y") }}
        </h2>
        <p>
            {{ post.body }}
        </p>
    </div>
{% endfor %}


{{form(form)}}

{% endblock %}
